@import "variables";

@font-face {
  font-family: 'UOC Sans';
  src: 
    font-url('netsociety/UOCSans-Regular.woff2') format('woff2'),
    font-url('netsociety/UOCSans-Regular.woff') format('woff'),
    font-url('netsociety/UOCSans-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'UOC Sans';
  src: 
    font-url('netsociety/UOCSans-Italic.woff2') format('woff2'),
    font-url('netsociety/UOCSans-Italic.woff') format('woff'),
    font-url('netsociety/UOCSans-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'UOC Sans';
  src: 
    font-url('netsociety/UOCSans-Bold.woff2') format('woff2'),
    font-url('netsociety/UOCSans-Bold.woff') format('woff'),
    font-url('netsociety/UOCSans-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'UOC Serif';
  src: 
    font-url('netsociety/UOCSerif-Regular.woff2') format('woff2'),
    font-url('netsociety/UOCSerif-Regular.woff') format('woff'),
    font-url('netsociety/UOCSerif-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'UOC Sans', Helvetica, sans-serif;
  background-color: $body-background-color;
  color: $body-font-color;
}

.off-canvas{
  background-color: $body-font-color;

  .close-button{
    color: $body-font-color;
  }
  .usermenu-off-canvas a{
    color: white;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
  font-family: 'UOC Serif', "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  // text-rendering: optimizeLegibility;
  // letter-spacing: -.5px;
}

.section-heading{
  font-family: 'UOC Sans', Helvetica, sans-serif;
  font-style: normal;
}

a,
.link,
.card__link,
.author-data .author__name,
.card__icondata ul li:first-child, .card__block ul li:first-child,
.topbar__dropmenu .is-dropdown-submenu li a,
.process-nav__link{
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus{
    color: $link-color-hover;
  }
}

label,
.home-pam__title{
  color: $body-font-color;
}

.section-heading::before{
  background-color: $primary-heavy;
}


.card--list__item{
  .card--list__icon.alert{
    fill: $primary-heavy;
  }
}