@import "variables";

.button {
  // background-color: $body-font-color;
  color: $link-color;
  border-radius: 0px;

  &:hover, &:focus {
    color: $link-color;
  }

  &.hollow{
    color: $link-color;
    border-color: $link-color;

    &:hover{
      color: $link-color;
    }
  }
}
