@import "variables";

.process-nav__hidden-content__more,
.process-nav__more{
  color: $link-color;
  i{
    background-color: $primary-heavy;
  }
}

.process-nav__content{
  li.is-active{
    box-shadow: inset 0 4px 0 0 $primary-heavy;
  }
}

.process-header__hashtag{
  color: $primary-heavy;
  a{
    color: $primary-heavy;
  }
}